<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">JWT Auth Demo</h1>
      <p>This demo shows local and facebook user registration and login flow using Angular v5.2.1, ASP.NET Core 2.0 WebApi and Facebook api</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup with email</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login with email</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/facebook-login">Signup/login with facebook</a></p>       
    </div>
  </div>
</main>
