/* You can add global styles to this file, and also import other style files */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}
  
/*
 * Typography
 */
  
h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}