
<div class="row">
  <div class="col-md-6 col-sm-3">
    <p>{{homeDetails?.message}}</p>
    <p><strong>Name:</strong> {{homeDetails?.firstName}} {{homeDetails?.lastName}}</p>
    <p *ngIf="homeDetails?.location"><strong>Location:</strong> {{homeDetails?.location}}</p>
    <p *ngIf="homeDetails?.locale"><strong>Locale:</strong> {{homeDetails?.locale}}</p>
    <p *ngIf="homeDetails?.gender"><strong>Gender:</strong> {{homeDetails?.gender}}</p>
    <p *ngIf="homeDetails?.facebookId"><strong>Facebook Id:</strong> {{homeDetails?.facebookId}}</p>
    <div *ngIf="homeDetails?.pictureUrl"><img src="{{homeDetails?.pictureUrl}}" /></div>  
  </div>
</div>

 
 
 
  
